
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 3513px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_48 {
  width: 543px;
  height: 496px;
  background: url("../images/v1_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2274px;
  left: 904px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v331_29 {
  width: 100%;
  height: 337px;
  background: rgba(22,193,217,1);
  opacity: 1;
  position: absolute;
  top: 2725px;
  left: 5px;
}
.v1_4 {
  width: 100%;
  height: 100%;
  background: rgba(22,193,217,1);
  opacity: 1;
  position: absolute;
  top: 1162px;
  left: 0px;
}
.v331_7 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 943px;
  left: 105px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v328_2 {
  width: 100%;
  height: 147px;
  background: rgba(22,193,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v324_7 {
  width: 100%;
  height: 451px;
  background: rgba(72,71,71,1);
  opacity: 1;
  position: absolute;
  top: 3062px;
  left: 0px;
  overflow: hidden;
}
.v326_6 {
  width: 438px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 447px;
  left: 1007px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_6 {
  width: 271px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3271px;
  left: 91px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_7 {
  width: 311px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4192px;
  left: 163px;
  font-family: Inter;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_8 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4192px;
  left: 904px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_9 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 317px;
  left: 1005px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_11 {
  width: 910px;
  height: 33px;
  background: url("../images/v1_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 129px;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 296px;
  overflow: hidden;
}
.v1_12 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 209px;
  font-family: Inter;
  font-weight: Light;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v1_13 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 455px;
  font-family: Inter;
  font-weight: Light;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v1_14 {
  width: 178px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 655px;
  font-family: Inter;
  font-weight: Light;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v1_15 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 890px;
  font-family: Inter;
  font-weight: Light;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v1_20 {
  width: 741px;
  height: 670px;
  background: url("../images/v1_20.png");
  opacity: 1;
  position: absolute;
  top: 307px;
  left: 98px;
}
.v1_21 {
  width: 794px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 211px;
  left: 98px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v1_25 {
  width: 123px;
  height: 123px;
  background: url("../images/v1_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 1505px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_27 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 583px;
  left: 1010px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_28 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 707px;
  left: 1010px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_29 {
  width: 426px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 613px;
  left: 1008px;
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_32 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 787px;
  left: 1010px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_33 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 868px;
  left: 1007px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_34 {
  width: 365px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 1010px;
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v331_6 {
  width: 577px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 842px;
  left: 109px;
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_37 {
  width: 338px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1223px;
  left: 1307px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v1_38 {
  width: 176px;
  height: 54px;
  background: url("../images/v1_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 912px;
  left: 1206px;
  overflow: hidden;
}
.v1_43 {
  width: 797px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1296px;
  left: 490px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_46 {
  width: 547px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3324px;
  left: 889px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_47 {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2316px;
  left: 113px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v1_49 {
  width: 676px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2408px;
  left: 107px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v1_50 {
  width: 356px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2939px;
  left: 1044px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v1_51 {
  width: 147px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3114px;
  left: 222px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_52 {
  width: 167px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3114px;
  left: 652px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_53 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3107px;
  left: 1128px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v331_27 {
  width: 121px;
  height: 121px;
  background: url("../images/v331_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2884px;
  left: 904px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v331_23 {
  width: 147px;
  height: 147px;
  background: url("../images/v331_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 102px;
  overflow: hidden;
}
.v1_55 {
  width: 114px;
  height: 114px;
  background: url("../images/v1_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3099px;
  left: 96px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_56 {
  width: 407px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2880px;
  left: 1043px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v1_61 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3112px;
  left: 1512px;
  font-family: Inter;
  font-weight: Extra Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_62 {
  width: 114px;
  height: 115px;
  background: url("../images/v1_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3109px;
  left: 1379px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_76 {
  width: 329px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3378px;
  left: 937px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_87 {
  width: 123px;
  height: 123px;
  background: url("../images/v1_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 1505px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v1_88 {
  width: 20px;
  height: 20px;
  background: url("../images/v1_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 1384px;
  overflow: hidden;
}
.v1_89 {
  width: 25px;
  height: 25px;
  background: url("../images/v1_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3421px;
  left: 895px;
  overflow: hidden;
}
.v1_90 {
  width: 25px;
  height: 25px;
  background: url("../images/v1_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3467px;
  left: 895px;
  overflow: hidden;
}
.v1_91 {
  width: 25px;
  height: 25px;
  background: url("../images/v1_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3378px;
  left: 895px;
  overflow: hidden;
}
.v1_92 {
  width: 47px;
  height: 47px;
  background: url("../images/v1_92.png");
  opacity: 1;
  position: absolute;
  top: 3359px;
  left: 98px;
  border-radius: 50%;
}
.v1_93 {
  width: 47px;
  height: 47px;
  background: url("../images/v1_93.png");
  opacity: 1;
  position: absolute;
  top: 3359px;
  left: 193px;
  border-radius: 50%;
}
.v331_37 {
  width: 48px;
  height: 49px;
  background: url("../images/v331_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3359px;
  left: 288px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
  overflow: hidden;
}
.v1_97 {
  width: 653px;
  height: 473px;
  background: url("../images/v1_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 317px;
  left: 113px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v326_8 {
  width: 363px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 348px;
  left: 1007px;
  font-family: Merriweather;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v328_10 {
  width: 562px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1987px;
  left: 623px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v328_12 {
  width: 601px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1872px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v328_15 {
  width: 524px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1869px;
  left: 1204px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v331_3 {
  width: 100%;
  height: 602px;
  background: url("../images/v331_3.png");
  opacity: 1;
  position: absolute;
  top: 1619px;
  left: 0px;
}
.v324_6 {
  width: 467px;
  height: 564px;
  background: url("../images/v324_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1409px;
  left: 665px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_42 {
  width: 293px;
  height: 361px;
  background: url("../images/v1_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1496px;
  left: 145px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v1_41 {
  width: 293px;
  height: 361px;
  background: url("../images/v1_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1496px;
  left: 1303px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v331_16 {
  width: 316px;
  height: 40px;
  background: url("../images/v331_16.png");
  opacity: 1;
  position: absolute;
  top: 977px;
  left: 691px;
  border: 1px solid rgba(22,193,217,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v331_18 {
  width: 265px;
  color: rgba(22,193,217,1);
  position: absolute;
  top: 981px;
  left: 719px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v331_22 {
  width: 123px;
  height: 123px;
  background: url("../images/v331_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 772px;
  left: 1507px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v331_26 {
  width: 147px;
  height: 147px;
  background: url("../images/v331_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2871px;
  left: 895px;
  overflow: hidden;
}
.v331_32 {
  width: 114px;
  height: 114px;
  background: url("../images/v331_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3099px;
  left: 543px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v331_33 {
  width: 116px;
  height: 116px;
  background: url("../images/v331_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3106px;
  left: 992px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v331_38 {
  height: 149px;
  background: url("../images/v331_38.png");
  opacity: 1;
  position: absolute;
  top: 3361px;
  left: 1737px;
}
.v1_74 {
  width: 294px;
  color: url("../images/v1_74.png");
  position: absolute;
  top: 3397px;
  left: 935px;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
